# SMB Credentials for deployment
SMB_USERNAME=your_username
SMB_PASSWORD=your_password

# Full destination paths (\\\\192.168.1.12\api_mnd\TTCDS\{ModuleFolder})
SMB_DEST_DVDC=\\\\192.168.1.12\\api_mnd\\TTCDS\\DichVuDungChung
SMB_DEST_QLDA=\\\\192.168.1.12\\api_mnd\\TTCDS\\QuanLyDuAn
SMB_DEST_NVTT=\\\\192.168.1.12\\api_mnd\\TTCDS\\NhiemVuTrongTam
SMB_DEST_QLHD=\\\\192.168.1.12\\api_mnd\\TTCDS\\QuanLyHopDong