# SMB Credentials for deployment
SMB_USERNAME=your_username
SMB_PASSWORD=your_password

# Destination path (\\\\192.168.1.12\api_mnd\TTCDS\QuanLyDuAn)
SMB_DEST_QLDA=\\\\192.168.1.12\\api_mnd\\TTCDS\\QuanLyDuAn
